@use '../../styles/config.scss' as *;

.container {
    width: 100%;

    &_header {
        margin: 1rem 0 2rem;
    }

    &_signup {
        color: $primary-color;
        font-weight: 400;

        span {
            font-weight: 800;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .textAlign {
        text-align: center;
    }
}
