@use '../../styles/config.scss' as *;

.container {
    width: 100%;

    &_header {
        margin: 1rem 0 2rem;
    }

    .label {
        color: $primary-color;
        font-size: 18px;
        font-weight: 800;
        display: inline-block;
        margin-bottom: 1.2rem;
    }

    .btn {
        margin: 4rem 0 1.5rem;
    }

    &_signup {
        color: $primary-color;
        font-weight: 400;

        span {
            font-weight: 800;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
