@use '../../../styles/config.scss' as *;

.footerContent {
    font-family: $futura;
    font-size: 1rem;
    color: $primary-color;
    margin-top: 28px;

    span {
        margin-left: 4px;
        text-decoration: underline;
        font-weight: 600;
    }
}
