@use '../../../../styles/config.scss' as *;

.footer {
    background-color: $white !important;
    color: $primary-color !important;
    border-radius: 4px !important;
    font-size: 24px !important;
    text-transform: capitalize !important;
    width: 296px;

    @include mobile {
        width: 210px;
    }
}

.smallButton {
    font-size: 18px !important;
    line-height: 2rem !important;
    width: 248px !important;
    height: 56px !important;
}

.productFooter,
.cancel {
    border-radius: 4px !important;
    border: solid 1px $primary-color !important;
    color: $primary-color !important;
    font-size: 18px !important;
    margin-block: 20px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

.cancel {
    background-color: $white;
}

.devicesSmallButton {
    font-family: $futura-book !important;
    font-size: 16px !important;
    line-height: 2rem !important;
    text-transform: capitalize !important;
    width: 384px !important;
    height: 56px !important;

    @include mobile-small {
        width: 230px !important;
    }
}

.backButton,
.continue {
    width: 247px;
    height: 56px;
    border-radius: 4px;
    margin-block: 40px !important;
}

.backButton {
    padding: 19px 99.5px 21px;
    border: solid 2px $back-button-color !important;
    background-color: $white !important;
    font-size: 18px !important;
    color: $back-button-color !important;
}

.continue {
    padding: 19px 76px 18px 88px !important;
    background-color: $secondary-color;
    font-size: 16px !important;
    font-family: $work-sans-medium !important;
    color: $white !important;

    @include mobile-small {
        margin-block: 0 40px !important;
    }
}

.addMoreBtn {
    border-radius: 8px !important;
    background-color: $black !important;
    font-size: 18px !important;
    color: $white !important;
    text-transform: none !important;
    padding: 1vh 3vh !important;
}
