@use '../../../../styles/config.scss' as *;

.footer {
    background-color: $white !important;
    color: $primary-color !important;
    border-radius: 4px !important;
    font-size: 24px !important;
    text-transform: capitalize !important;
    width: 296px;

    @include mobile {
        width: 210px;
    }
}



.forgotpwd {
    padding: 0.8rem 0 !important;
}
