@use '../../../../styles/config.scss' as *;

.footer {
    background-color: $white !important;
    color: $primary-color !important;
    border-radius: 4px !important;
    font-size: 24px !important;
    text-transform: capitalize !important;
    width: 296px;

    @include mobile {
        width: 210px;
    }
}

.smallButton {
    font-size: 18px !important;
    line-height: 2rem !important;
    width: 248px !important;
    height: 56px !important;
}
.productFooter {
    border-radius: 4px !important;
    border: solid 1px #012f51 !important;
    color: $primary-color !important;
    font-size: 18px !important;
    margin-block: 20px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}
