@use '../../styles/config.scss' as *;

.topContainer {
    background: linear-gradient(122deg, $bg-gradient-top, $bg-gradient-bottom);
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.container {
    width: 100vw;
    height: 100vh;
    background: url('../../assets/images/onboarding-bg-image.svg') no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;

    &_dialog {
        border-radius: 12px;
        box-shadow: 0 0 20px 10px $dialog-shadow;
        background-color: $white;
        text-align: center;
        padding: 40px;
        width: 500px;
        @include mobile-small {
            max-width: 350px;
        }
    }

    &_titleContent {
        font-size: 32px;
        color: $primary-color;
        font-family: $barlow-semi-bold;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 1.5;

        @include mobile-small {
            line-height: unset;
        }
    }

    &_subContent {
        font-size: 18px;
        font-family: $futura-book;
        margin-bottom: 20px;
        line-height: 1.5;
    }
}
