// add all the colors here
// common
$primary-color: #012f51;
$secondary-color: #23bb2d;
$button-text-color: #ebf6ff;
$dark-para: #8f8f8f;
$white: #fff;
$light-para: #dedede;
$black: #000;
$text-color: #012f52;
$footer-link: #d6d6d6;
$error: #db7f72;

// page-wise colors
// landing page colors
$color-1: #0a58a0;
$color-2: #23bb2d;
$color-3: rgb(143 143 143 / 45%);
$color-4: rgb(248 251 255 / 0%);
$color-5: #0009;
$color-6: #008000;
$color-7: rgb(101 101 101 / 10%);
$color-8: #a4e4a8;
$color-9: #012f51;
$color-10: #22bc2c;
$color-11: #012139;
$background-color-1: #f0faf0;

// onboarding
$dialog-shadow: #23bb2d0a;
$bg-gradient-top: #d8e9db;
$bg-gradient-bottom: #edf3ee;
