// add all the colors here
// common
$primary-color: #012f51;
$secondary-color: #23bb2d;
$button-text-color: #ebf6ff;
$dark-para: #8f8f8f;
$white: #fff;
$light-para: #dedede;
$black: #000;
$text-color: #012f52;
$footer-link: #d6d6d6;
$error: #db7f72;

// page-wise colors
// landing page colors
$background-image-color: #0a58a0;
$box-shadow-color-1: rgb(143 143 143 / 45%);
$box-shadow-color-2: #0009;
$box-shadow-color-3: rgb(101 101 101 / 10%);
$marquee-color: rgb(248 251 255 / 0%);
$ribbon-color-1: #008000;
$ribbon-color-2: #a4e4a8;
$carousel-header-color: #22bc2c;
$logo-color: #012139;
$background-color-1: #f0faf0;

// onboarding
$dialog-shadow: #23bb2d0a;
$bg-gradient-top: #d8e9db;
$bg-gradient-bottom: #edf3ee;

// product-selection
$header-color: #10171d;
$box-shadow-color: rgba(35 187 45/ 4%);
$bg-gradient-top: #e5f4fa;
$bg-gradient-bottom: #e9faee;

// plan-selection
$plan-header-color: #1e1f20;
$plan-paragraph-color: #5a5f62;
$custom-switch-border-color: rgba(151 151 151/ 18%);
$custom-switch-background-color: #f9f9f9;
$customised-selected-color: #093e70;
$customised-not-selected-background-color: #e3e3e3;

// plan-selection pop up
$dialog-background-color: rgba(51 51 51/ 70%);
$billing-dialog-title-color: #000;
$devices-dialog-content-color: #252525;
$devices-sub-content-color: #848484;
