// add types here
@import 'https://fonts.googleapis.com/css2?family=Barlow&display=swap';

// @import url('../../assets/fonts/futura/futura\ medium\ bt.ttf');

@font-face {
    font-family: Barlow-SemiBold;
    src: url('../../assets/fonts/Barlow/Barlow-SemiBold.ttf');
}
@font-face {
    font-family: Barlow-ExtraBold;
    src: url('../../assets/fonts/Barlow/Barlow-ExtraBold.ttf');
}
@font-face {
    font-family: Barlow-Bold;
    src: url('../../assets/fonts/Barlow/Barlow-Bold.ttf');
}
@font-face {
    font-family: Futura-Medium;
    src: url('../../assets/fonts/Futura/Futura-Medium\ Medium.ttf');
}
@font-face {
    font-family: Barlow-Medium;
    src: url('../../assets/fonts/Barlow/Barlow-Medium.ttf');
}

$barlow: 'Barlow', sans-serif;
$barlow-bold: 'Barlow-Bold', sans-serif;
$barlow-semi-bold: 'Barlow-SemiBold';
$barlow-extra-bold: 'Barlow-ExtraBold';
$barlow-medium: 'Barlow-Medium';
$futura: 'Futura-Medium';
