@use '../../../styles/config.scss' as *;

.planSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .contentSection {
        margin-bottom: 40px;

        h2 {
            color: $plan-header-color;
            padding-bottom: 20px;
        }

        p {
            color: $plan-paragraph-color;
            font-family: $futura-book;
        }
    }
}

.devicesContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
    gap: 280px;

    @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .devicesSubContainer {
        width: 506px;
        height: 142px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 20px 10px $box-shadow-color;
        background-color: $white;

        @include mobile-small {
            width: 300px;
        }

        .contents {
            p {
                color: $plan-header-color;
                font-size: 18px;
                line-height: 2.22;
            }
            
            .errContainer {
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }

    .devicesSubscription {
        padding: 26px 20px 20px;
        border-radius: 8px;
        box-shadow: 0 0 20px 10px $box-shadow-color;
        background-color: $white;
    }
}

.planSelectionCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    margin-bottom: 10vh;
    line-height: 1.2;

    @include mobile {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include mobile-small {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-inline: 3vh;
    }
}

.cardContents {
    padding-inline: 4vh;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px $box-shadow-color;
    background-color: $white;
    position: relative;
}

.customSwitch {
    margin: 0 10px;
    padding: 0 56px 0 0;
    border-radius: 28px;
    border: solid 1px $custom-switch-border-color;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.customSwitch.active {
    background-color: $custom-switch-background-color;
}

.circleSlide {
    transition: transform 0.3s ease;
    width: 56px;
    height: 56px;
    background-color: $secondary-color;
    border-radius: 100%;
}

.customSwitch.active .circleSlide {
    transform: translateX(100%);
}

.subscriptionToggle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    span {
        font-size: 18px;
        font-family: $futura-book;
        color: $plan-paragraph-color;
    }
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: $dialog-background-color;

    .mainModal {
        text-align: center;
        width: 746px;
        padding: 34px 120px 40px;
        border-radius: 12px;
        background-color: $white;

        @include mobile-small {
            max-width: 95vw;
            padding: 4vh;
            overflow: auto;
        }
    }

    .modalTitle {
        font-size: 32px;
        font-family: $barlow-semi-bold;
        color: $black;
        font-weight: 600;
    }

    .modalButtons {
        display: flex;
        gap: 12px;
    }

    .customisedPlans {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-block: 40px;

        @include mobile-small {
            grid-template-columns: 1fr 1fr;
        }
    }

    .selected,
    .notSelected {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        font-size: 18px;
        font-family: $futura-book;
        cursor: pointer;

        @include mobile-small {
            font-size: 14px;
        }
    }

    .selected {
        padding: 16px 20px 16px 23px;
        border-radius: 8px;
        border: solid 1px $customised-selected-color;
        background-color: $button-text-color;
        color: $customised-selected-color;
    }

    .notSelected {
        border-radius: 4px;
        background-color: $customised-not-selected-background-color;
        padding: 18px 23px 17px 24px;
        color: $plan-paragraph-color;
        border: none;
    }
}
