@use '../../styles/config.scss' as *;

.forgotPassword {
    font-family: $futura;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $primary-color;
    cursor: pointer;
    margin-block: 20px 28px;
    text-decoration: underline;
}

.errorMessage {
    margin-inline: 14px;
    line-height: 1.66;
    letter-spacing: 0.0333em;
}
