@use '../../styles/config.scss' as *;

/* stylelint-disable */

.MuiOutlinedInput-notchedOutline {
    border-radius: 8px !important;
    border: solid 1px $dark-para;
}

.MuiButtonBase-root.MuiButton-root {
    font-size: 24px;
    white-space: nowrap;
}

div.MuiOutlinedInput-root.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
        border: solid 1px $primary-color;
    }
}

legend {
    span {
        font-size: 17px;
    }
}

.termsConditions {
    display: flex;
    align-items: center;
    color: $dark-para;
    display: flex;
    align-items: center;
    color: $dark-para;
    margin-block: 22px 38px;
    font-size: 18px;
}

input[type='number'] {
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}

input[type='number'] {
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
}
