@use "../../styles/config.scss" as *;

.pageContainer {
	text-align: center;
}

.bodyContent {
	background-image: url("../../assets/images/backgroundImage.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.bodyTextContents {
	margin-inline: 20px;
}

.headerContent {
	margin-bottom: 40px;

	@include mobile {
		max-width: none;
	}
}

.headerContent4 {
	margin-block: 80px;

	@include mobile {
		max-width: none;
	}
}

.paragraphContent {
	margin-bottom: 80px;

	@include mobile-small {
		margin-bottom: 30px;
	}
}

.button {
	display: flex;
	gap: 8vh;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;

	.buttonText1 {
		background-color: $secondary-color;
		padding: 24px 40px;
		color: $button-text-color;
	}

	.buttonText2 {
		padding: 24px 54px;
		border: solid 1px $primary-color;
		color: $primary-color;
	}

	.buttonText1,
	.buttonText2 {
		font-size: 24px;

		text-decoration: none;
		border-radius: 4px;
		flex-shrink: 0;

		&:hover {
			box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%),
				0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
		}

		@include mobile {
			font-size: 18px;
		}
	}

	@include mobile {
		flex-direction: column;
		gap: 3vh;
	}
}

.imageSection {
	margin-block: 80px;

	@include mobile {
		img {
			width: 100%;
			max-width: 90%;
		}
	}
}

.logoHeading {
	font-family: $barlow-extra-bold;
	font-weight: 800;
	text-transform: capitalize;
	margin: 0 20px 80px;

	@include large-screen {
		font-size: 48px;
	}

	@include desktop {
		font-size: 32px;
	}

	@include mobile {
		font-size: 24px;
	}

	@include mobile-small {
		font-size: 18px;
	}
}

.logosSection {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
	padding-inline: 5vh;
	overflow: hidden;
	margin-bottom: 80px;
}

.gridCarousel {
	margin-bottom: 80px;

	img {
		filter: saturate(0%);
		width: 140px;

		&:hover {
			cursor: pointer;
			filter: saturate(100%);
		}
	}
}

.carouselContent {
	margin-bottom: 80px;
	background-image: url("../../assets/images/carouselbg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.carouselContainer {
	width: 100%;
}

.contentSection2 {
	margin-top: 80px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.signupFormContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 80px;
	background-image: url("../../assets/images/signupformbg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-inline: 5vh;
}

.signUpForm {
	border-radius: 8px;
	box-shadow: 0 4px 12px 0 $box-shadow-color-1;
	background-color: $white;
	margin-bottom: 80px;
}

.arrow {
	position: absolute;
	top: calc(50% - 17.5px);
	height: 35px;
	width: 35px;
	background: $white;
	border-radius: 50%;
	box-shadow: 0 0 5px 0 $box-shadow-color-2;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	display: grid;
	place-items: center;
	transition: 0.25s ease-in-out;
}

.arrow.left {
	left: 90px;
}

.arrow.right {
	right: 90px;
}

:hover {
	.arrow {
		opacity: 1;
	}
}
