@use '../../../styles/config.scss' as *;

.dialogTitle {
    text-align: center;
}

.dialogContent {
    margin: 1rem;
    text-align: center;
    overflow-y: unset !important;

    .actionBtns {
        text-align: center;
        margin-top: 2rem;
    }
}
