@use './styles/config.scss' as *;
@use './styles/resets' as *;

body {
    font-family: $futura;
    font-weight: 500;
    color: $dark-para;

    @include large-screen {
        font-size: 1.125rem;
    }

    @include desktop {
        font-size: 1rem;
    }

    @include mobile {
        font-size: 0.875rem;
    }

    @include mobile-small {
        font-size: 0.625rem;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $barlow-extra-bold;
    color: $primary-color;
}

h1 {
    font-family: $barlow-extra-bold;
    font-weight: 800;

    @include large-screen {
        font-size: 72px;
    }

    @include desktop {
        font-size: 64px;
    }

    @include mobile {
        font-size: 40px;
    }

    @include mobile-small {
        font-size: 32px;
    }
}

h2 {
    font-family: $barlow-bold;
    font-weight: 700;

    @include large-screen {
        font-size: 56px;
    }

    @include desktop {
        font-size: 48px;
    }

    @include mobile {
        font-size: 40px;
    }

    @include mobile-small {
        font-size: 24px;
    }
}

h3 {
    font-family: $barlow-medium;
    font-weight: 500;

    @include large-screen {
        font-size: 32px;
    }

    @include desktop {
        font-size: 20px;
    }

    @include mobile {
        font-size: 16px;
    }

    @include mobile-small {
        font-size: 14px;
    }
}

p {
    font-family: $futura;
    font-weight: 500;
    color: $dark-para;

    @include large-screen {
        font-size: 32px;
    }

    @include desktop {
        font-size: 24px;
    }

    @include mobile {
        font-size: 18px;
    }

    @include mobile-small {
        font-size: 16px;
    }
}

// common features card content scss

.features {
    text-align: start;
}

.featuresText {
    font-size: 20px;
    font-family: $barlow-semi-bold;
    margin-bottom: 22px;
    color: $primary-color;
}

.contents {
    display: flex;
    gap: 16px;

    span {
        font-size: 16px;
        margin-bottom: 20px;
        color: $header-color;
        font-family: $futura-book;
        line-height: 24px;
        white-space: nowrap;
    }

    @include mobile {
        gap: 6px;
    }
}

.circleWithTick {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid $secondary-color !important;

    &::before {
        content: '';
        position: absolute;
        top: 35%;
        left: 20%;
        width: 20%;
        height: 50%;
        transform: rotate(45deg) translateY(-50%);
        border: 2px solid $primary-color;
        border-width: 0 2px 2px 0;
    }
}

.ribbon {
    position: absolute;
    top: 0;
    left: 40px;
    color: $ribbon-color-1;
}

.ribbon3 {
    width: 120px;
    height: 32px;
    line-height: 34px;
    position: absolute;
    left: -48px;
    top: 20px;
    background: $ribbon-color-2;
    font-size: 16px;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        top: 31.5px;
        left: 0.1px;
        border-top: 19px solid $ribbon-color-1;
        border-left: 9px solid transparent;
    }

    &::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        right: -16.5px;
        border-top: 16px solid $ribbon-color-2;
        border-bottom: 16px solid $ribbon-color-2;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
    }
}

.heading {
    font-family: $barlow-bold;
    text-transform: capitalize;
    text-align: start;
    margin-block: 64px 44px;
}

.subContents {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    margin-bottom: 11vh;
}

.card2SubContents {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    margin-bottom: 20px;
}

.subHeadings {
    width: 116px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 0.5px solid $primary-color;
    background-color: $button-text-color;

    span {
        font-size: 14px;
        color: $primary-color;
    }
}

.sanerNowCardContentsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
