@use '../../../styles/config.scss' as *;

.cardContents {
    padding: 3vh;
    text-align: center;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 3px 8px 2px $box-shadow-color-3;
    border: solid 0.5px $primary-color;
    background-color: $white;
}

.header {
    font-family: $barlow-semi-bold;
    font-size: 16px;
    color: $primary-color;
    margin-block: 40px 20px;
}

.subHeading {
    font-size: 16px;
    color: $dark-para;
    margin-bottom: 40px;
}

.sanerNowCardContents {
    padding-inline: 4vh;
    border-radius: 4px;
    max-width: 350px;
    position: relative;
}

.card4Heading {
    font-size: 24px;
    font-family: $barlow-bold;
    text-transform: capitalize;
    text-align: start;
    margin-block: 17px 22px;
}

.circlehover {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid $secondary-color !important;

    &::before {
        content: '';
        position: absolute;
        top: 35%;
        left: 20%;
        width: 20%;
        height: 50%;
        transform: rotate(45deg) translateY(-50%);
        border: solid 2px $white;
        border-width: 0 2px 2px 0;
    }
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $background-color-1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* stylelint-disable */
.sanerNowCardContentsSection .MuiButtonBase-root.MuiButton-root {
    margin-block: 40px !important;
}

/* stylelint-enable */
